In [4]:
class Abc:
    def add(self,a,b):
        return(a+b)
    def add(self,a,b,c):
        return(a+b+c)
c=Abc()
print(c.add(2,5,8))
print(c.add(2,3))

15

TypeError: Abc.add() missing 1 required positional argument: 'c'

In [7]:
str="python"
print(len(str))
lst=['hill',256,'pyton']
print(len(lst))

6
3

In [14]:
class Abc:
    def add(self,a,b):
        return(a+b)
    def add(self,a,b,c=0):
        return(a+b+c)
c=Abc()
print(c.add(2,5,8))
print(c.add(2,3))

15
5

In [4]:
class Student:
    def __init__(self,name,roll,age):
        self.name=name
        self.__roll=roll
        self.__age=age
    def show(self):
        print(self.name,self.__roll,self.__age)
    def get_roll(self):
        return self.__roll
    def get_age(self):
        return self.__age
    def set_age(self,age):
         self.__age=age
S=Student('minhaj',33,40)
S.show()
S.name
S._Student__roll #name mangling
# S.get_roll()
S.set_age(45)
S.get_age()

minhaj 33 40

45

In [5]:
x={'1':2,'3':4}
x.get('1')
print(x)

{'1': 2, '3': 4}

In [8]:
a={1:2,3:4}
a[5]=a.pop(1)
# a[5]=1
print(a)

{3: 4, 5: 2}

In [1]:
numbers = [2, 7, 11, 15]
target =9
for x in numbers:
    for y in numbers:
        if x+y==target:
            print(x,y)

2 7
7 2

In [23]:
num=[2,7,11]
target=13
for i in range(len(num)):
    for j in range(len(num)):
        if num[j] + num[i]==target:
            a=(j,i)
print(list(a))

[0, 2]

In [25]:
class Ferrari:
    def type(self):
        print('diesel')
    def fuel(self):
        print('speed is 249')
class Bmw:
    def type(self):
        print('petrol')
    def fuel(self):
        print('speed is 400')
def car(obj):
    obj.fuel()
    obj.type()
a=Ferrari()
b=Bmw()
car(a)
car(b)

speed is 249
diesel
speed is 400
petrol

In [6]:
a=2
b=2
# a=[2,3,4]
# b=[2,3,4]
print(id(a))
print(id(b))
print(a==b)  #check content here
print(a is b) #check memory location

2898699616528
2898699616528
True
True

In [1]:
tp=(2,'minhaj',22,'bhai')
w,x,y,z=tp
print(w)
print(x)
print(y)
print(z)
print(tp)
print(type(tp))

2
minhaj
22
bhai
(2, 'minhaj', 22, 'bhai')
<class 'tuple'>

In [2]:
a=2
b='abcd'
c=33
tp=a,b,c
print(tp)
print(type(tp))

(2, 'abcd', 33)
<class 'tuple'>

In [17]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
#     def __mul__(obj1, obj2):
#         print('Worked for', obj2.days, 'days')
#         return  obj2.days*obj1.salary
class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days
    def __mul__(timesheet, emp):
        print('Worked for', obj1.days, 'days')
        return  timesheet.days*emp.salary
timesheet = TimeSheet("Jessa", 50)
emp = Employee("Jessa", 800)
# timesheet = TimeSheet("Jessa", 50)
print("salary is: ",  timesheet*emp)

Worked for 50 days
salary is:  40000

In [9]:
class Employee:
    def __init__(self,name, salary):
        self.myname = name
        self.salary = salary
    def __mul__(self, timesheet,numb):
        print('Worked for', timesheet.days, 'days')
        # calculate salary
        return self.salary * timesheet.days * num.number
class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days
class Number:
    def __init__(self,number):
        self.number=number
emp = Employee("Jessa", 800)
timesheet = TimeSheet("minhaj", 50)
num=Number(20)
print("salary is: ", emp * timesheet*num)

TypeError: Employee.__mul__() missing 1 required positional argument: 'numb'

In [10]:
a=2
b=3
c=4
print(a*b*c)

24

In [28]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    def __mul__(self, timesheet):
        print('Worked for', timesheet.days, 'days')
        # calculate salary
        return self.salary * timesheet.days * third.price
class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days
class third:
    def __init__(self,name,price):
        self.name=name
        self.price=price
emp = Employee("Jessa", 200)
timesheet = TimeSheet("Jessa", 200)
third=third('minhaj',200)
print("salary is: ", emp * timesheet)

Worked for 200 days
salary is:  8000000

In [35]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    def __mul__(self, third):
        print('Worked for', timesheet.days, 'days')
        # calculate salary
        return self.salary * timesheet.days * third.price
class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days
class third:
    def __init__(self,name,price):
        self.name=name
        self.price=price
emp = Employee("Jessa", 200)
timesheet = TimeSheet("Jessa", 200)
third=third('minhaj',200)
print("salary is: ", emp * third)

Worked for 200 days
salary is:  8000000

In [3]:
class student:    
    def __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
    def show(self):
        return "Name of the student:",self.name,"Roll no of the student:",self.rollno
class school(student):
    def __init__(self, name, rollno,age):
        super().__init__(name, rollno)       
        self.age = age
        x = super().show()
    def show(self):
        self.school="abp school"
        "school name:",self.school, "rollno.:",self.rollno, "age:", self.age  
class home(school):
    def __init__(self, name, rollno,age, subject):
        super().__init__(name, rollno, age)
        self.subject = subject     
    def show(self):
        x = super().show()
        self.school="abp school"
        return "school name:",self.school, "rollno.:",self.rollno, "subject:", self.subject,zikra 
s1=home('iram',55,33,"Maths")
s1.show()

NameError: name 'zikra' is not defined

In [ ]:
class A:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print('hello')
class B(A):
    def __init__()

In [8]:
class A:
    def __init__(self):
        print(123)
    def __new__(self):
        print(456)
S1=A()

456

In [7]:
class A:
    def __new__(self):
        print(123)
    def __init__(self):
         print(456)
s1=A()

123