In [4]:
class Add:
    def result(self,a,b):
        print('Adition',a+b)
class Multi(Add):
#     pass
    def result(self,a,b):
        print('Mltiplication',a*b)
m=Multi()
m.result(5,4)

Mltiplication 20

In [5]:
class Vehicle:

    def __init__(self, name, color, price):
        self.name = name
        self.color = color
        self.price = price

    def show(self):
        print('Details:', self.name, self.color, self.price)

    def max_speed(self):
        print('Vehicle max speed is 150')

    def change_gear(self):
        print('Vehicle change 6 gear')


# inherit from vehicle class
class Car(Vehicle):
#     def max_speed(self):
#         print('Car max speed is 240')

    def change_gear(self):
        print('Car change 7 gear')


# Car Object
car = Car('Car x1', 'Red', 20000)
car.show()
# calls methods from Car class
car.max_speed()
car.change_gear()

# Vehicle Object
vehicle = Vehicle('Truck x1', 'white', 75000)
vehicle.show()
# calls method from a Vehicle class
vehicle.max_speed()
vehicle.change_gear()

Details: Car x1 Red 20000
Vehicle max speed is 150
Car change 7 gear
Details: Truck x1 white 75000
Vehicle max speed is 150
Vehicle change 6 gear

In [6]:
class Scorpio:
    def fuel(self):
        print('fuel in scorpio')
    def speed(self):
        print('speed in scorpio is 340')
class BMW:
    def fuel(self):
        print('fuel in bmw')
    def speed(self):
        print('speed in bmw is 250')
a=Scorpio()
b=BMW()
for car in (a,b):
    car.fuel()
    car.speed()

fuel in scorpio
speed in scorpio is 340
fuel in bmw
speed in bmw is 250

In [12]:
class Shopping:
    def __init__(self, basket, buyer):
        self.basket = list(basket)
        self.buyer = buyer

    def __len__(self):
        print('Redefine length')
        count = len(self.basket)
        # count total items in a different way
        # pair of shoes and shir+pant
        return count *2

shopping = Shopping(['Shoes','dress'], 'Jessa')
print(len(shopping))

Redefine length
4

In [11]:
student=['jerry','herry','lerry']
school='ABC School'
print('Reverse string')
for i in reversed(student):
    print(i,end=' ')
    
print('\nReverse list')
for j in reversed(['a','s','d','f']):
    print(j,end=' ')

Reverse string
lerry herry jerry
Reverse list
f d s a

In [14]:
def addition(a, b):
    c = a + b
    print(c)


def addition(a, b, c):
    d = a + b + c
    print(d)


# the below line shows an error
addition(4, 5)

# This line will call the second product method
addition(3, 7, 5)

TypeError: addition() missing 1 required positional argument: 'c'

In [23]:
for i in range(4):print(i,end=' ')
print()
for i in range(5,10):print(i,end=' ')
print()
for i in range(1,10,2):print(i,end=' ')

0 1 2 3
5 6 7 8 9
1 3 5 7 9

In [24]:
class Shape:
    def area(self,a,b=0):
        if b>0:
            print('Area of rectangle is',a*b)
        else:
            print('Area of square is',a**2)
sqr=Shape()
sqr.area(5)

rec=Shape()
rec.area(5,4)

Area of square is 25
Area of rectangle is 20

In [25]:
# add 2 numbers
print(100 + 200)

# concatenate two strings
print('Jess' + 'Roy')

# merger two list
print([10, 20, 30] + ['jessa', 'emma', 'kelly'])

300
JessRoy
[10, 20, 30, 'jessa', 'emma', 'kelly']

In [4]:
print(550+330)
print('jessy'+'roy')
print([10,20]+['a','b'])

880
jessyroy
[10, 20, 'a', 'b']

In [8]:
class Textbook:
    def __init__(self,pages):
        self.pages=pages
b1=Textbook(200)
b2=Textbook(300)
print(b1+b2)

TypeError: unsupported operand type(s) for +: 'Textbook' and 'Textbook'

In [14]:
class Book:
    def __init__(self, pages):
        self.pages = pages

    # Overloading + operator with magic method
    def __add__(self, other):
        return self.pages + other.pages

b1 = Book(400)
b2 = Book(300)
print("Total number of pages: ", b1 + b2)

Total number of pages:  700

In [3]:
class Employee:
    def __init__(self, , salary):
        self.myname = name
        self.salary = salary

    def __mul__(self, timesheet):
        print('Worked for', timesheet.days, 'days')
        # calculate salary
        return self.salary * timesheet.days


class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days


emp = Employee("Jessa", 800)
timesheet = TimeSheet("minhaj", 50)
print("salary is: ", emp * timesheet)

Worked for 50 days
salary is:  40000

In [15]:
class Employee:
    def __init__(self, jessa, salary):
        self.name = jessa
        self.salary = salary
emp = Employee("Jessa", 800)
emp2 = Employee("wessa", 800)
emp3 = Employee("kessa", 800)

# timesheet = TimeSheet("Jessa", 50)
# print("salary is: ", emp * timesheet)
# print("salary is: ", emp2 * timesheet)
print("name:" ,emp3.name)

name: kessa

In [17]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
#     def __mul__(self, timesheet):
#         print('Worked for', timesheet.days, 'days')
#         # calculate salary
#         return self.salary * timesheet.days
class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days
emp = Employee("Jessa", 800)
timesheet = TimeSheet("Jessa", 50)
print("salary is: ", emp * timesheet)

TypeError: unsupported operand type(s) for *: 'Employee' and 'TimeSheet'

In [18]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
#     def __mul__(self, timesheet):
#         print('Worked for', timesheet.days, 'days')
#         # calculate salary
#         return self.salary * timesheet.days
class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days
emp = Employee()
timesheet = TimeSheet("Jessa", 50)
# print("salary is: ", emp * timesheet)

TypeError: Employee.__init__() missing 2 required positional arguments: 'name' and 'salary'

In [23]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
    def __mul__(self):
        print('Worked for', self.days, 'days')
        # calculate salary
        return self.salary * self.days
class TimeSheet:
    def __init__(self, name, days):
        self.name = name
        self.days = days
emp = Employee("Jessa", 800)
timesheet = TimeSheet("Jessa", 50)
print("salary is: ", emp * timesheet)

TypeError: Employee.__mul__() takes 1 positional argument but 2 were given

In [25]:
a=2
b='abcd'
c=33
tp=a,b,c
print(tp)
print(type(tp))

(2, 'abcd', 33)
<class 'tuple'>

In [35]:
tp={2,'minhaj',22,'bhai'}
w,x,y,z=tp
print(w)
print(x)
print(y)
print(z)
print(tp)
print(type(tp))

2
minhaj
bhai
22
{2, 'minhaj', 'bhai', 22}
<class 'set'>