# string

In [1]:
# 1.To check whether a given string is a palindrome.
str1='M','A','L','Y','A','L','A','M'
print(str1[0:8])
print(str1[-8:8])

('M', 'A', 'L', 'Y', 'A', 'L', 'A', 'M')
('M', 'A', 'L', 'Y', 'A', 'L', 'A', 'M')

In [2]:
# 2'To capitalize the first character in a given sentence.
a='The capital of india is delhi'
x=a.title()
print(x)

The Capital Of India Is Delhi

In [4]:
# 3.Program to convert String to a List.
var="imaginary number value of i square is 1"
x=var.split()
print(x)

['imaginary', 'number', 'value', 'of', 'i', 'square', 'is', '1']

In [5]:
# 4.To sort alphabetically the words in a given sentence.
x = "Hello world in python coding"
words = x.split()
words.sort()
for word in words:
    print(word)

Hello
coding
in
python
world

In [7]:
# 5.To demonstrate any 10 function(method) of string class.
#count method
# returns the number of times a specified value appears in the string.
a="Suraiya is my friend,Suraiya is a mad girl and suraiya is learning coding in mcc"
x=a.count("Suraiya")
print(x)

#case fold
# Converts string into lower case
b="Python Is Very Easy"
x=b.casefold()
print(x)


#endswith
# Check if the string ends with a punctuation sign (.):
c="She is intelligent girl."
x=c.endswith(".")
print(x)

#replace
#replace tht word in string
d="Apple is red"
x=d.replace("Apple","Tomato")
print(x)


#isalpha
# check all character in string is text
e="strings"
x=e.isalpha()
print(x)

#isalnum
# check all character in string is in text and numbers
e="strings32728"
x=e.isalnum()
print(x)


#find
f="operators used to perform on variable and values"
x=f.find("on")
print(x)



#isnumeric
# returns true is all characters is in digit
g='1723942'
x=g.isnumeric()
print(x)

#join 
h=('sky','color','is','skyblue')
x='@'.join(h)
print(x)

#isspace
i="my fruits"
x=i.isspace()
print(x)


#zfill
# Fill the string with zeros until it is 10 characters long:
j="40"
x=j.zfill(10)
print(x)

2
python is very easy
True
Tomato is red
True
True
26
True
sky@color@is@skyblue
False
0000000040

In [2]:
# 7.To demonstrate string slice3rwd
y="Python is high level language"
print(y[5])
print(len(y))
print(y[0:30])
print(y[0:6:2])
print(y[0:14:3])
print(y[-5:-2])
print(y[::-1])

n
29
Python is high level language
Pto
Ph  g
gua
egaugnal level hgih si nohtyP

In [9]:
# 8.TO check substring is Present in a Given String
#  this should be complete by EOD
var1="Python has no command for declaring a variable."
x="command" in var1
print(x)

True

# task on list

In [24]:
# 1.To create 5 different list using list comprehension method
flower=['rose','tulip','lotus','mogra','sunflower']
list1=[x for x in flower if 'u' in x]
print(list1)

['tulip', 'lotus', 'sunflower']

In [25]:
list1=[x for x in range(20)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [1]:
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
list1=[x.upper() for x in flower]
print(list1)

['ROSE', 'TULIP', 'LOTUS', 'MOGRA', 'SUNFLOWER']

In [2]:
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
list1=[x.lower() for x in flower]
print(list1)

['rose', 'tulip', 'lotus', 'mogra', 'sunflower']

In [3]:
list1=[x for x in range(20) if x<10]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
# 3.To check whether a given number is present in list or not?
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
print('Rose' in flower)

True

In [30]:
# 4.To demonstrate any 10 methods of List
#append
# add item in the end of the list
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower.append('Hibiscus')
print(flower)

['Rose', 'Tulip', 'Lotus', 'Mogra', 'Sunflower', 'Hibiscus']

In [31]:
#clear
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower.clear()
print(flower)

[]

In [32]:
# copy
# copy exact list in another list
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower_1=flower.copy()
print(flower_1)

['Rose', 'Tulip', 'Lotus', 'Mogra', 'Sunflower']

In [33]:
# count
# Returns the number of elements with the specified value
flower=['Rose','Tulip','Lotus','Tulip','Mogra','Sunflower','Tulip']
x=flower.count("Tulip")
print(x)

3

In [34]:
# extend
# Add the elements of a list (or any iterable), to the end of the current list
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
colour=['red','yellow','white','blue']
flower.extend(colour)
print(flower)

['Rose', 'Tulip', 'Lotus', 'Mogra', 'Sunflower', 'red', 'yellow', 'white', 'blue']

In [8]:
# Returns the index of the first element with the specified value
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
x=flower.index('Lotus')
print(x)

2

In [36]:
# insert
# Adds an element at the specified position
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower.insert(3,'Jasmine')
print(flower)

['Rose', 'Tulip', 'Lotus', 'Jasmine', 'Mogra', 'Sunflower']

In [37]:
# pop
# Removes the element at the specified position
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower.pop(1)
print(flower)

flower.pop()
print(flower)

['Rose', 'Lotus', 'Mogra', 'Sunflower']
['Rose', 'Lotus', 'Mogra']

In [38]:
# Removes
# remove the first item with the specified value
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower.remove('Mogra')
print(flower)

['Rose', 'Tulip', 'Lotus', 'Sunflower']

In [39]:
# Reverse
# reverse the order of the list
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower.reverse()
print(flower)

['Sunflower', 'Mogra', 'Lotus', 'Tulip', 'Rose']

In [13]:
# 5.To add two list [ adding elements of list ]
list1=[1,2,3]
list2=[4,5,6]
print(list(zip(list1,list2)))

[(1, 4), (2, 5), (3, 6)]

In [23]:
# 2.Create list , add random 10 numbers in list and print largest number of list
a=[3,2,8,5]
print(max(a))

8

In [22]:
x=[3,6,2,9,5,1,7]
x.sort()
print(x)

[1, 2, 3, 5, 6, 7, 9]

# if else,for loop and range excercise

In [29]:
# 1.To print odd & even number:
number=int(input('Enter any integer number'))
remainder=number%2
if(remainder==0):
    print(number,"IS EVEN")
 else:
    print(number,"IS ODD")

Enter any integer number4
4 FIZZ

In [7]:
# 2.Count the total number of digits in a number:

n=int(input("enter a number")) #896
count=0
while n>0:
    n=n//10
    count=count+1
print("total number of digits",count)

enter a number76546790
total number of digits 8

In [5]:

# 3.Write a programer to print multiplication table of a given number: 
n=int(input('enter the number:'))
for i in range (1,11):
     print(n,'x',i,'=',n*i)

enter the number:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [4]:
# 4.Count the total number of digits in a number using for loop:
string=input("Enter a string:")
def countletterdigit(string):
    lcount=dcount=0
    for c in string:
        if c.isdigit():
            dcount+=1
        elif c.isalpha():
            lcount+=1
    return lcount,dcount
letters,digits=countletterdigit(string)
print("Number of letters:",letters)
print("Number of digits:",digits)

Enter a string:xqwjjhdq92927
Number of letters: 8
Number of digits: 5

In [8]:
# 5.Find the factorial of a given number:
i=int(input("Enter number:"))
fac=1
while i>0:
    fac=fac*i
    i-=1
print("factorial=",fac)

Enter number:5
factorial= 120

In [30]:
# 6.Display Fibonacci series up to 10 terms:
def fib(n):
    a=0
    b=1
    print(a)
    print(b)
    for i in range(2,n):
        c=a+b
        a=b
        b=c
        print(c)
fib(5)

0
1
1
2
3

In [7]:
# 7.Calculate the cube of all numbers from 1 to a given number;
def cube(x):
    result=x**3
    return result
n=int(input("enter the number"))
print(cube(n))

enter the number4
64

# tuple task qn

In [5]:
# 1.To create a tuple having a number from 1-20. Print the half of its 
# value in 1 line and other half in next line
t1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(t1[0:11])
print(t1[10:20])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
(11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [ ]:
# 2.To create a tuple consisting of 20 number from a user.Create 
# another tuple whose values are even number in the first tuple.
a=[]
for i in range(10):
    user=int(input("enter number"))
    a.append(user)
print(tuple(a))
b=[]
for j in a:
    if j%2 == 0:
        b.append(j)
print(tuple(b))
c=[]
for k in a:
    if k%2 !=0:
        c.append(k)
print(tuple(c))

In [7]:

# 3.To concatenate two tuples .
T1=('a','b','c','d','e')
T2=(1,2,3,4,5,6)
T3=T1+T2
print(T3)

('a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 6)

In [8]:
# 4.To check whether a given element is present in tuple or not .
t1=('white','red','black','green')
if 'black' in t1:
    print('yes,black is present in tuple')

yes,black is present in tuple

In [ ]:
# 5. use the following methods on a tuple in the program: 
# cmp(t1,t2)/t1==t2 ,len(t1) , zip(t1,t2) , max(t) , min(t) , tuple()

In [11]:
t1=(1,2,3,4)
t2=(5,6,7,8)

In [12]:
t1=('a','d','f','h')
print(len(t1))

4

In [14]:
t1=('a','b','c','d')
t2=(1,2,3,4)
print(tuple(zip(t1,t2)))

(('a', 1), ('b', 2), ('c', 3), ('d', 4))

In [15]:
t=(5,2,61,39) 
print(max(t))

61

In [16]:
t=(4,1,5,9)
print(min(t))

1

In [14]:
 a=[]
for i in range(10):
    user=int(input("enter number"))
    a.append(user)
print(tuple(a))
b=[]
for j in a:
    if j%2 == 0:
        b.append(j)
print(tuple(b))
c=[]
for k in a:
    if k%2 !=0:
        c.append(k)
print(tuple(c))

enter number4
enter number2
enter number5
enter number6
enter number8
enter number7
enter number9
enter number1
enter number3
enter number4
(4, 2, 5, 6, 8, 7, 9, 1, 3, 4)
(4, 2, 6, 8, 4)
(5, 7, 9, 1, 3)

In [20]:
a=[]
for i in range(5):
    user=int(input("enter number"))
    a.append(user)
print(tuple(a))

enter number2
enter number3
enter number4
enter number1
enter number3
(2, 3, 4, 1, 3)

In [21]:
#f.To create a dictionary with any five key value pair . print the 
#dictionary.Add an element in a given dictionary and delete an element
dict1={"name":"minhaj","sname":"shaikh","lname":"sabir","age":"22","add":"kajupada"}
print(dict1)

{'name': 'minhaj', 'sname': 'shaikh', 'lname': 'sabir', 'age': '22', 'add': 'kajupada'}

In [22]:
#add element in dict:
dict1={"name":"minhaj","sname":"shaikh","lname":"sabir","age":"22","add":"kajupada"}
dict1["color"]="blue"
print(dict1)

{'name': 'minhaj', 'sname': 'shaikh', 'lname': 'sabir', 'age': '22', 'add': 'kajupada', 'color': 'blue'}

In [23]:
#delete element in dict:
dict1={"name":"minhaj","sname":"shaikh","lname":"sabir","age":"22","add":"kajupada"}
del dict1["age"]
print(dict1)

{'name': 'minhaj', 'sname': 'shaikh', 'lname': 'sabir', 'add': 'kajupada'}

In [30]:
#g.To create 2 dictionaries using dictionary comprehension method.
dict1={"name":"minhaj","sname":"shaikh","lname":"sabir","age":"22","add":"kajupada"}
a={x for x in dict1.values()}
print(a)

{'22', 'minhaj', 'kajupada', 'shaikh', 'sabir'}

In [31]:
#h.To demonstrate any five methods on dictionary
# 1.clear method
d1={"a":1,"b":2,"c":3}
d1.clear()
print(d1)

{}

In [32]:
# 2.get method
d1={"a":1,"b":2,"c":3}
x=d1.get("a")
print(x)

1

In [33]:
# 3.pop item 
# Remove the last item from the dictionary:
d1={"a":1,"b":2,"c":3}
d1.popitem()
print(d1)

{'a': 1, 'b': 2}

In [35]:
# 4.setdefault
# The setdefault() method returns the value of the item with the specified key.
d1={"a":1,"b":2,"c":3}
x=d1.setdefault("a","4")
print(x)

1

In [36]:
#5.update
#The update() method inserts the specified items to the dictionary.
d1={"a":1,"b":2,"c":3}
d1.update({"d":"4"})
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': '4'}

In [37]:
# fromkeys
# Returns a dictionary with the specified keys and value
x=('a','b','c')
y=0
a=dict.fromkeys(x,y)
print(a)

{'a': 0, 'b': 0, 'c': 0}

In [38]:
# i. To demonstrate 5 methods of python data structure set .
# add an element in set
flowers={1,2,3,4,5}
flowers.add(5)
print(flowers)

{1, 2, 3, 4, 5}

In [39]:
a={'apple','grapes','mango'}
b={1,3,'apple'}
a.difference_update(b)
print(a)

{'mango', 'grapes'}

In [40]:
a={'apple','grapes','mango'}
b={1,3,'apple'}
c=a.intersection(b)
print(c)

{'apple'}

In [41]:
a={'apple','grapes','mango'}
b={1,3,'apple'}
c=a.symmetric_difference(b)
print(c)

{1, 'mango', 3, 'grapes'}

In [42]:
a={'apple','grapes','mango'}
a.remove('grapes')
print(a)

{'mango', 'apple'}

In [43]:
# remove last item in pop method
a={'apple','grapes','mango'}
a.pop()
print(a)

{'apple', 'grapes'}

In [4]:
data=[2,4,3,5]
for i in data:
    if i%2==0:
        print('f{i}is an even no')
    else:
        print("it is odd no")

f{i}is an even no
f{i}is an even no
it is odd no
it is odd no

In [5]:
a=1224
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [6]:
# 1.To check whether a given string is a palindrome.
str1='M','A','L','Y','A','L','A','M'
print(str1[0:8])
print(str1[-8:8])

('M', 'A', 'L', 'Y', 'A', 'L', 'A', 'M')
('M', 'A', 'L', 'Y', 'A', 'L', 'A', 'M')

In [25]:
a=input("enter the string")
b=a[-1::-1]
if a==b:
    print("palindrom")
else:
    print("not palindrom")

enter the stringlevel
palindrom

In [1]:
a="minhajqwerty"
print(a[::-1])

ytrewqjahnim

In [22]:
def Add(a,b):
    C=a+b
    return C
c=Add(2,4)
print(c)

6

In [16]:
a="minhajqwerty"
print(a[-1::-1])

ytrewqjahnim

In [10]:
def Add(a,b):
    C=a+b
    return C
c=Add(2,4)
print(c)

6

In [15]:
data={"ANAM":40,"ASIF":30}
x=data.get("shoaib")
print(x)

None

In [18]:
data={"ANAM":40,"ASIF":30}
data.update({"nabeel":37})
print(data)

{'ANAM': 40, 'ASIF': 30, 'nabeel': 37}

In [17]:
data={"ANAM":40,"ASIF":30}
data["nabeel"]=37
print(data)

{'ANAM': 40, 'ASIF': 30, 'nabeel': 37}

In [22]:
d=addn(2,4)
print(d)
def addn(a,b):
    d=a+b
    return d

NameError: name 'addn' is not defined

In [25]:
data={"ANAM":40,"ASIF":30,'adnan':26}
data.pop("ANAM")
print(data)

{'ASIF': 30, 'adnan': 26}

In [27]:
data={"ANAM":40,"ASIF":30,'adnan':26}
#data.del({"ANAM":40},{"ASIF":30})
print(data)

SyntaxError: invalid syntax (3358793661.py, line 2)

In [29]:
value=[1,1,2,3,3,4]
a=set(value)
print(a)
b=list(a)
print(b)

{1, 2, 3, 4}
[1, 2, 3, 4]

#task qn on pattern

In [6]:
pattern1=["*","**","***","****","*****"]
for x in pattern1:
    print(x)

*
**
***
****
*****

In [8]:
pattern2=["*****","****","***","**","*"]
for y in pattern2:
    print(y)

*****
****
***
**
*

In [9]:
pattern3=["1","2 3","4 5 6","7 8 9 10"]
for x in pattern3:
    print(x)

1
2 3
4 5 6
7 8 9 10

In [10]:
pattern4=["1","1 2","1 2 3","1 2 3 4","1 2 3 4 5"]
for x in pattern4:
    print(x)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [11]:
pattern5=["A","A B","A B C","A B C D","A B C D E"]
for x in pattern5:
    print(x)

A
A B
A B C
A B C D
A B C D E

In [12]:
pattern6=["A","B C","D E F","G H I J","K L M N O"]
for z in pattern6:
    print(z)

A
B C
D E F
G H I J
K L M N O

In [13]:
pattern8=["1 2 3 4 5","1 2 3 4","1 2 3","1 2","1 "]
for x in pattern8:
    print(x)

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [16]:
pattern7=["   *","  **"," ***","****"]
for x in pattern7:
    print(x)

   *
  **
 ***
****

In [17]:
pattern9=["   *   ","  ***  "," ***** ","*******"]
for x in pattern9:
    print(x)

   *
  ***
 *****
*******

In [15]:
ch1={'a':1,'b':2}
ch2={'d':3,'e':3}
dict1={"child1":ch1,"child2":ch2}
print(dict1)

{'child1': {'a': 1, 'b': 2}, 'child2': {'d': 3, 'e': 3}}

In [16]:
n=5
for i in range(n):
    for j in range(n):
        print('*',end=" ")

* * * * * * * * * * * * * * * * * * * * * * * * *

In [17]:
n=5
for i in range(n):
    for j in range(n):
     print('*',end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [18]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [19]:
#n=int(input(""))
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [20]:
number=int(input('Enter any integer number'))
remainder=number%2
if(remainder==0):
    print(number,"FIZZ")
else:
    print(number,"BUZZ")

KeyboardInterrupt: Interrupted by user

In [ ]:
data1=[1,2,5,73,45,68]
for i in data1:
    if i%2==0:
        print("fizz is",i)
    else:
        print("buzz is",i)

In [ ]:
data1=[3,25,34,8]
data2=[ f"{x}:fizz" if x%2==0 else f"{x}:buzz" for x in data1]
print(data2)

In [ ]:
 a=[]
for i in range(11):
    user=int(input("enter number"))
    a.append(user)
print((a))
b=[]
for j in a:
    if j%5 == 0:
        b.append(j)
print(tuple(b))

In [ ]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end=" ")
    print()

In [ ]:
n=int(input())
for i in range(n+1):
    if i%5==0 and i%3==0:
        print('Fizz Buzz')
    elif i%5==0 and i%3!=0:
        print('Buzz')
    elif i%3==0 and i%5!=0:
        print('Fizz')
    else:
        print('None')


# star pattern task

In [1]:
# pattern1:increasing triangle
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [2]:
# pattern 2 for dicreasing traingle
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [3]:
# pattern 7 for increasing triangle
n=5
for i in range(n):
    for j  in range(i,n):
        print(" ",end=' ')
    for k in range(i+1):
        print("*",end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [4]:
# pattern9 prism pattern
n=5
for i in range(n):
    for j in range(i,n):
        print(" ",end=" ")
    for k in range(i):
        print("*",end=" ")
    for m in range(i+1):
        print("&",end=" ")
    print()

          &
        * & &
      * * & & &
    * * * & & & &
  * * * * & & & & &

# Number pattern:

In [2]:
# pattern3
n=4
p=1
for i in range(n):
    for j in range(i+1):
        print()
        p+=1
    print()

In [3]:
# change in column paterrn
# pattern4
n=5
for i in range(n):
    p=1
    for j in range(i+1):
        print(p,end=" ")
        p+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
# pattern8
n=5
for i in range(n):
    p=1
    for j in range(i,n):
        print(p,end=" ")
        p+=1
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [9]:
# decrement column in triangle
n=5
k=5
for i in range(n):
    p=k
    for j in range(i):
        print(" ",end=" ")
    for j in range(i,n):
        print(p,end=" ")
        p-=1
    k-=1
    print()

5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

In [12]:
# pattern5
n=5
for i in range(n):
    p=65
    for j in range(i+1):
        print(chr(p),end=' ')
        p+=1
    print()

A
A B
A B C
A B C D
A B C D E

In [1]:
# pattern6
n=5
a=65
for i in range(n):
    for j in range(i+1):
        print(chr(a),end=' ')
        a+=1
    print()

A
B C
D E F
G H I J
K L M N O

# function task qn:

In [2]:
#1.Write a Python function to find the Max of three numbers.
def maximum(a, b, c):
    if (a >= b) and (a >= c):
        largest = a
    elif (b >= a) and (b >= c):
        largest = b
    else:
        largest = c
    return largest
#call functn here:
a = 10
b = 14
c = 12
print(maximum(a, b, c))

14

In [ ]:
# 2.Define a function that accepts 2 values and return its sum, subtraction and multiplication..
a=int(input(""))
b=int(input(" "))
def func(a,b):
    print("sum of given numbers",a+b)
    print("subtraction of given numbers",a-b)
    print("multiplication of given number",a*b)
func(a,b)

In [3]:
# 3.Write a Python function to multiply all the numbers in a list. 
mylist=[1,2,3]
result=1
for x in mylist:
    result=result*x
print(result)

6

In [4]:
# 4.write a Python function to calculate the factorial of a number (a non-negative integer).
# The function accepts the number as an argument
# 5.Find the factorial of a given number:
#i=5
def factorial(i):
    fac=1
    while i>0:
        fac=fac*i
        i-=1
    print("factorial=",fac)
factorial(3)

factorial= 6

In [5]:
# 5.write a Python function to create and print a list where the values are square of numbers between 1 and 30 (both included).
input=list(range(30))
def square(l):
    a=[]
    for i in l:
        a.append(i**2)
    return a 
print(square(input))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [6]:
def printValues():
    l = list()
    for i in range(1,21):
        l.append(i**2)
    print(l)
printValues()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [7]:
#6.Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters
def string_test(s):
    d={"UPPER_CASE":0,"LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        #elif c.isalnum():
           # d["number"]+=1
        else:
          pass
    print ("Original String:", s)
    print ("No.of Upper case characters:", d["UPPER_CASE"])
    print ("No.of Lower case characters:", d["LOWER_CASE"])
   # print ("No.:", d["number"])

string_test('SURAIYA nargis 1234')

Original String: SURAIYA nargis 1234
No.of Upper case characters: 7
No.of Lower case characters: 6

In [8]:
###### 7.Define a function that accepts roll number and returns whether the student is present or absent.
a=[1,2,3,4,5,6,7,8]
def student(b):
    #for i in a:
        if b in a:
            print('Student is present',b)
        else:
            print('Student is absent')
b=int(input('Enter rollno:'))
student(b)

TypeError: 'list' object is not callable

In [9]:
sentence=input('enter sentence ')
def alp(a):
    vowels="a,e,i,o,u,A,E,I,O,U,"
    vowel=0
    count=0
    for i in sentence:
        if i in vowels:
            vowel+=1
        else:
            count+=1
    print('total vowels in sentence',vowel)
    print('total consonant in sentence',count)
alp(sentence)

TypeError: 'list' object is not callable

In [10]:
# 9.define a function that accepts radius and returns the area of a circle.
r=int(input('enter radius of circle'))
def circle(r):
    print('A',3.14*r**2)
circle(r)

TypeError: 'list' object is not callable

In [11]:
n=int(input())
if n%2!=0:
     print('weird')
elif n%2==0 and n in range(2,5):
     print('not weird')
elif n%2==0 and n>20:
     print('yesss')
else:
    print("hsh")

TypeError: 'list' object is not callable

In [12]:
n=int(input())
if n%2!=0:
     print('weird')
elif n%2==0 and n in range(2,5):
     print('not weird')
elif n%2==0 and n>20:
     print('yesss')
else:
    print("hsh")

TypeError: 'list' object is not callable

In [13]:
n=int(input(''))
if n%2!=0:
     print('Weird')
elif n%2==0 and n in range(2,5):
     print('Not Weird')
elif n%2==0 and n in range(6,20):
     print('Weird')
elif n%2==0 and n>20:
    print('Not Weird')

TypeError: 'list' object is not callable

In [14]:
n=int(input("enter number"))
for i in range(0,10):
    print(i**2)

TypeError: 'list' object is not callable

In [15]:
#n=int(input(""))
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [16]:
list1=[1,2,3,4]
list2=[5,6,7,8]
for i in list1:
    for j in list2:
        n=i+j
    print(n)

9
10
11
12

In [17]:
list1=[1,2,3,4]
list2=[5,6,7,8]
list(zip(list1,list2))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [14]:

list1=[1,2,3,4]
list2=[5,6,7,8]
list(zip(list1,list2))

[(1, 5), (2, 6), (3, 7), (4, 8)]

In [3]:
i=1
while i<6:
    print(i)
    if i==3:
        break      
    i+=1

1
2
3

In [5]:
dList = [{'a': 1}, {'b': 3}, {'c': 5}]
for index in range(len(dList)):
    for key in dList[index]:
        print(dList[index][key])

1
3
5

In [3]:
x = [1, 2, 3, 4]
y = [2, 5, 2]
z = x - y   
print(z)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [3]:
d="HELLOWORLDSCHOOL"
print(d[6:-15:-2])

OOL

In [10]:
str1 ="suraiya"
total = 0
i = 0
while(i < len(str1)):
    total = total + 1
    i = i + 1
print("Total Number of Characters in this String = ", total)

Total Number of Characters in this String =  7