In [1]:
print("minhaj")

minhaj

In [3]:
a=3
b=9
print(a+b)

12

In [4]:
print(3+4)

7

In [5]:
print("3+4")

3+4

study of comment
maine comment pada

In [6]:
print("hello")
#hello

hello

In [2]:
print("html is markup language")
print("use to create website")

html is markup language
use to create website

In [4]:
print("html is markup language",end="")
print("use to create website")

html is markup languageuse to create website

In [5]:
print("html is markup language",end=",")
print("use to create website")

html is markup language,use to create website

In [7]:
##how to add multiline comment
print("hello world")
'''
multiple
lines
are ignore
here
'''
print("hello world2")

hello world
hello world2

In [1]:
##escape sequence:
##backslash and n is for new line 
print("He is \here")
print("He is \near")
##\t=new tab
print("Suraiya is \n mad girl \t123")

He is \here
He is
ear
Suraiya is
 mad girl 	123

In [14]:
var1="HELLO WORLD"
var2=12
var3=10.5
print(type(var1))
print(type(var2))
print(type(var3))

<class 'str'>
<class 'int'>
<class 'float'>

In [15]:
var1="HELLO WORLD"
var2=12
var3=10.5
print(var2+var3)

22.5

In [16]:
var1="HELLO WORLD"
var2="12"
var3=10.5
print(var1+var2)

HELLO WORLD12

In [17]:
print(10*"HELLO WORLD")

HELLO WORLDHELLO WORLDHELLO WORLDHELLO WORLDHELLO WORLDHELLO WORLDHELLO WORLDHELLO WORLDHELLO WORLDHELLO WORLD

In [18]:
print(10*"HELLO WORLD\n")

HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD
HELLO WORLD

In [ ]:
x=2
y=2.2
z=x+y
print(z)

In [27]:
var1="30"
var2="20"
print(10* str((var1)+(var2)))

3020302030203020302030203020302030203020

In [26]:
var1="30"
var2="20"
print(10* str(int(var1)+int(var2)))

50505050505050505050

In [28]:
##illegal variable
2var="world"
var-start="world"
var start="world"

SyntaxError: invalid decimal literal (3107910046.py, line 2)

In [32]:
##variablenames:--
thevar="hello"
the_var="hello"
_the_var="hello"
THEVAR="hello"
thevar2="hello"
print(thevar)
print(the_var)
print(_the_var)
print(THEVAR)
print(thevar2)

hello
hello
hello
hello
hello

In [72]:
##multiplevariable--
#camelcase
theVariableName="Hello"
print(theVariableName)
#pascalcase
TheVariableName="Hello"
print(TheVariableName)
#snakecase
the_variable_name="Hello"
print(the_variable_name)

Hello
Hello
Hello

In [39]:
a, b, c = "white", "Black", "red"
print(a)
print(b)
print(c)

white
Black
red

In [42]:
x="awesome"
def myfunc():
    print("Python is " +x)

In [34]:
#string slicing
mystr="Roses are red"
print(mystr[0])
print(mystr[3])
print(len(mystr))
print(mystr[0:30])
print(mystr[0:6:2])
print(mystr[0:14:3])
print(mystr[-5:-2])
print(mystr[:5])
print(mystr[0:])
print(mystr[::2])
print(mystr[-7:-2])
print(mystr[::-1])
print(mystr[::-2])

R
e
13
Roses are red
Rss
Rea d
e r
Roses
Roses are red
Rssaerd
are r
der era sesoR
dreassR

In [56]:
x = ["apple", "banana", "cherry"]
print(type(x))

<class 'list'>

In [57]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [69]:
#python numbers 
x=1
y=2.3
z=1j
print(x)
print(y)
print(z)
#number type
print(type(x))
print(type(y))
print(type(z))
#number type conversion
x = float(1)
print(x)
y=int(2.3)
print(y)
#Note: You cannot convert complex numbers into another number type.

1
2.3
1j
<class 'int'>
<class 'float'>
<class 'complex'>
1.0
2

In [2]:
#strings are arrays
#strings in Python are arrays of bytes representing unicode characters.
a="hello world"
print(a[1])
print(a[4])

e
o

In [7]:
#loop through string
for c in "mango":
    print(c)

m
a
n
g
o

In [28]:
var1="apple"
for c in var1:
    print(c)

a
p
p
l
e

In [13]:
#lenth  strings
y="world"
n=len(y)

In [15]:
text="Great things require time"
print("require" in text)
print("time" in text)

True
True

In [32]:
x="Maroof is a bad boy"
print(x.isalnum())
y="Maroofisabadboy"
print(y.isalnum())
y="Maroofisabadboy"
print(y.isalpha())
x="Maroof is a bad boy"
print(x.isalpha())
print(x.endswith("boy"))
print(y.count("o"))
print(y.find("is"))
print(y.lower())
print(y.upper())
print(y.replace("a","or"))

False
True
True
False
True
3
6
maroofisabadboy
MAROOFISABADBOY
Morroofisorbordboy

In [43]:
#boolean in python True or False:--
print(True)
print(False)
print(int(True))
print(int(False))
a='python is nothing but anaconda'
b=''
print(bool(a))
print(bool(b))
print(True+False)
print(True-False)
print(False/True)

True
False
1
0
True
False
1
1
0.0

In [2]:
a={}
print(type(a))

<class 'dict'>

In [3]:
x=None
print(type(x))

<class 'NoneType'>

# Operators

In [17]:
##aritematic operators
#addn
x=4
y=5
print(x+y)
#subtrn
x=6
y=3
print(x-y)
#multipn
y=5
z=4
print(x*y)
#divisn(quotient)
x=12
y=3
print(x/y)
#modulus(reminder)
x=15
y=3
print(x%y)
#exponentn
x=2
y=3
print(x**y)#2*2*2
#floordivision
x=12
y=2
print(x//y)#round the result down to nearest whole no.

9
3
30
4.0
0
8
6

In [27]:
#assignment operator
#1)=
x=6
print(x)
#2)+=
x=4
x+=3
print(x)
#3)-=
y=5
y-=2
print(y)
#4)*=
z=4
z*=3
print(z)
#5)/=
x=12
x/=3
print(x)
#6)%=
x=15
x%=5
print(x)
#7)//=
x=19
x//=3
print(x)
#8)**=
x=4
x**=3
print(x)

6
7
3
12
4.0
0
6
64

# Binary to decimal

In [34]:
#9)&= AND
x=4
x&=3
print(x)
#10)|=  OR
x=5
x|=3
print(x)
#11)^=  XOR
x=5
x^=3
print(x)
#12)>>=  BITWISE RIGHT SHIFT 
x=5
x>>=2
print(x)
#13)<<=  BITWISE LEFT SHIFT
x=20
x<<=2
print(x)

0
7
6
1
80

In [40]:
#COMPARISON OPERATORS:
#== equal
a=5
b=3
print(a==b)
#!= not qual
a=5
b=3
print(a!=b)
#> greater than
a=5
b=3
print(a>b)
#< less than
a=5
b=3
print(a<b)
#>= greater than or equal to
a=5
b=3
print(a>=b)
#<= less than or equal to
a=5
b=3
print(a<=b)

False
True
True
False
True
False

In [45]:
#LOGICAL OPERATORS
#and
x = 8
print(x > 3 and x < 10)
#or
x=4
print(x>3 or x<4)
#not
x = 8
print(not(x > 3 and x < 10))
x = 8
print(not(x > 3 or x < 10))

True
True
False
False

In [7]:
#IDENTITY OPERATORS
#"is" Returns True if both variables are the same object	
a=["rose","lily"]
b=["rose","lily"]
c=a

#check memory location
print(id(a))
print(id(b))
print(id(c))

print(a is c)
print(a is b) #check memory location here using id
print(a==b)   #check content here

2321495409216
2321495046592
2321495409216
True
False
True

In [9]:
#"is not" Returns True if both variables are the same object	
a=["rose","lily"]
b=["rose","lily"]
c=a
print(a is not c)
print(a is not b)
print(a!=b)

False
True
False

In [1]:
#MEMBORSHIP OPERATORS
#Membership operators are used to test if a sequence is presented in an object:
#in
a=["rose","lily"]
print("rose" in a)
#in not
a=["rose","lily"]
print("tulip" not in a)

True
True

In [5]:
#BITWISE OPERATOR
#& AND
#| OR
#^ XOR
#~ NOT
a=20
print(~a)
#<< left shift
print(a<<2)
#<< right shift
print(a>>2)

-21
80
5

In [15]:
a=5
b=3
print( a and b)
print(a or b)

3
5

In [2]:
x="flip"
y=3
print(x+y)

TypeError: can only concatenate str (not "int") to str

# List

In [5]:
list = ["apple", "banana", "cherry", "apple", "cherry"]
print(list)
print(len(list))
#add diff data type
list1=[3,7,True,"apple","mango",False,"blue"]
print(list1)
print(type(list1))

['apple', 'banana', 'cherry', 'apple', 'cherry']
5
[3, 7, True, 'apple', 'mango', False, 'blue']
<class 'list'>

# Acess List Items

In [14]:
list = ["apple", "banana","mango", "cherry"]
print(list[1])
print(list[-1])
print(list[2:4])
print(list[:2])
print(list[2:])
print(list[-3:-1])

banana
cherry
['mango', 'cherry']
['apple', 'banana']
['mango', 'cherry']
['banana', 'mango']

# Change List Items

In [22]:
list1 = ["apple", "banana","mango", "cherry"]
list1=["grapes"]
thelist = ["apple", "banana","mango", "cherry"]
thelist[1:3]=["grapes","jackfruit"]
print(list1)
print(thelist)
thislist = ["apple", "banana","mango", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['grapes']
['apple', 'grapes', 'jackfruit', 'cherry']
['apple', 'banana', 'watermelon', 'mango', 'cherry']

# Add List and Remove List

In [31]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)
#insert
thislist.insert(1, "orange")
print(thislist)
#extend
list = ["mango", "pineapple", "papaya"]
thislist.extend(list)
print(thislist)
##REMOVE LIST
thislist.remove("banana")
print(thislist)
thislist.pop(1)
print(thislist)
#pop
thislist.pop()
print(thislist)
#del
del thislist[0]
print(thislist)
#clear
thislist.clear()
print(thislist)

['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry', 'orange', 'mango', 'pineapple', 'papaya']
['apple', 'orange', 'cherry', 'orange', 'mango', 'pineapple', 'papaya']
['apple', 'cherry', 'orange', 'mango', 'pineapple', 'papaya']
['apple', 'cherry', 'orange', 'mango', 'pineapple']
['cherry', 'orange', 'mango', 'pineapple']
[]

In [46]:
list=["phy","chem","bio"]
tuple=("hist","geog")
list.extend(tuple)
print(list)

['phy', 'chem', 'bio', 'hist', 'geog']

In [51]:
#sort list
list=["phy","chem","bio"]
list.sort()
print(list)
a=[1,5,3,9,6,8]
a.sort()
print(a)
a1=[1,5,3,9,6,8]
a1.sort(reverse=True)
print(a1)

['bio', 'chem', 'phy']
[1, 3, 5, 6, 8, 9]
[9, 8, 6, 5, 3, 1]

In [64]:
#COPY LIST
list1=[1,7,0,4]
list2=list1.copy()
print(list2)
#Another way to make a copy is to use the built-in method list().
list1=['app','wp','fb']
mylist=list(list1)
print(mylist)

[1, 7, 0, 4]

TypeError: 'list' object is not callable

In [65]:
list1=[1,2,3]
list2=[4,5,6]
a=list2.append(list1)
print(a)

None

In [3]:
list1=[1,2,3]
b=5
list1.append(b)
print(list1)

[1, 2, 3, 5]

In [4]:
print("hello")

hello

In [23]:
list1=[1,2,3]
b=5
list1.append(b)
print(list1)

[1, 2, 3, 5]

In [12]:
fruits=['apple','banana','mango']
print(fruits)

fruits[1]='orange' #replace
print(fruits)

fruits.insert(1,'cherry') #insert
print(fruits)

fruits.sort() #sort
print(fruits)

del fruits[1] #dlt
print(fruits)

fruits.append('papaya') #append
print(fruits)

fruits.reverse() #reverse
print(fruits)

['apple', 'banana', 'mango']
['apple', 'orange', 'mango']
['apple', 'cherry', 'orange', 'mango']
['apple', 'cherry', 'mango', 'orange']
['apple', 'mango', 'orange']
['apple', 'mango', 'orange', 'papaya']
['papaya', 'orange', 'mango', 'apple']

In [1]:
a=30
a<<=2
print(a)

120

In [2]:
a=30
a<<=3
print(a)

240

In [3]:
a=5
a<<=4
print(a)

80

In [5]:
a=30
a>>=3
print(a)

3

In [8]:
a=-5
print(~a)

4

# For Loop:

In [2]:
sub=['maths','phy','chem']
for x in sub:
    print(x)

maths
phy
chem

In [4]:
#Looping Through a String
for x in "reagent": 
    print(x)

r
e
a
g
e
n
t

In [5]:
#The break Statement
sub=['maths','phy','chem','bio']
for x in sub:
    print(x)
    if x=='chem':
        break

maths
phy
chem

In [10]:
 sub=['maths','phy','chem','bio']     #this time the break comes before the print:
for x in sub:
    if x=='chem':
      break
    print(x)

maths
phy

In [11]:
 sub=['maths','phy','chem','bio']     #continue statement:
for x in sub:
    if x=='chem':
      continue
    print(x)

maths
phy
bio

In [16]:
for x in range(8):
  print(x)

for x in range(2,7): #including 2 but excluding 7
    print(x)

for x in range(2, 20, 3): #third parameter is for increment by default it is 1
  print(x)

0
1
2
3
4
5
6
7
2
3
4
5
6
2
5
8
11
14
17

In [17]:
for x in range(4): #print a message when the loop has ended
  print(x)
else:
  print("Finally finished!")

0
1
2
3
Finally finished!

In [18]:
#Nested Loop
color=['blue','white','yellow']
flower=['rose','tulip','mogra']
for a in color:
    for b in flower:
        print(a,b)

blue rose
blue tulip
blue mogra
white rose
white tulip
white mogra
yellow rose
yellow tulip
yellow mogra

In [19]:
for x in [2,3,4,5]: # having an empty for loop like this, would raise an error without the pass statement

    pass

# Tuple

In [61]:
x = ("apple", "banana", "cherry")
print(x)
print(len(x))
tuple1=(56,92,True,'hello')
print(tuple1)
print(type(tuple1))

('apple', 'banana', 'cherry')
3
(56, 92, True, 'hello')
<class 'tuple'>

# #access tuple items

In [62]:
x = ("apple", "banana", "cherry" , "orange")
print(x[1])
print(x[-1])
print(x[0:2])
print(x[-4:-1])

banana
orange
('apple', 'banana')
('apple', 'banana', 'cherry')

## change tuple value

In [1]:
#convert the tuple into a list, change the list, and convert the list back into a tuple.
x1= ("apple", "banana", "cherry" , "orange")
y= list(x1)
y[1]="jackfruit"
x1= tuple(y)
print(x1)

('apple', 'jackfruit', 'cherry', 'orange')

In [3]:
thetuple = ("apple", "banana", "cherry")
y = list(thetuple)
y.append("orange")
thetuple = tuple(y)
print(thetuple)

('apple', 'banana', 'cherry', 'orange')

# unpack tuple

In [68]:
color=('blue','white','yellow')
(rose,tulip,mogra)=color
print(rose)
print(tulip)
print(mogra)

blue
white
yellow

In [66]:
color=('blue','white','yellow','red','green')
(rose,tulip,*mogra)=color
print(rose)
print(tulip)
print(mogra)

blue
white
['yellow', 'red', 'green']

In [67]:
color=('blue','white','yellow','red','green')
(rose,*tulip,mogra)=color
print(rose)
print(tulip)
print(mogra)

blue
['white', 'yellow', 'red']
green

# #loop tuple

In [5]:
a=(1,2,3,4)
for x in a:
    print(x)

1
2
3
4

In [6]:
a=(1,2,3,4)
for i in range(4):
    print(a[i])

1
2
3
4

In [7]:
a=(1,2,3,4)
for i in range(len(a)):
    print(a[i])

1
2
3
4

In [10]:
a=(1,2,3,4)
i=0
while i<3:
    print(i)
    i+=1

0
1
2

# #joint two tuples

In [15]:
tuple1=('x','y','z')
tuple2=(1,2,3)
tuple3=tuple1+tuple2
print(tuple3)

('x', 'y', 'z', 1, 2, 3)

In [17]:
tuple1=('x','y','z')
y=tuple1*3
print(y)

('x', 'y', 'z', 'x', 'y', 'z', 'x', 'y', 'z')

# Set

In [27]:
theset={'a','c','f','b'} #duplicate not allow
print(theset)
print(len(theset))
print(type(theset))
#Acess items in set
#You cannot access items in a set by referring to an index or a key.

for x in theset:
    print(x)
    
print('mumbai' in theset)

{'b', 'c', 'a', 'f'}
4
<class 'set'>
b
c
a
f
False

# #add and remove set items

In [34]:
x = {"kb", "mb", "gb"}
x.add("tb")
print(x)

y={'k','l','m'}
x.update(y)
print(x)

list = ["kiwi", "orange"]
x.update(list)
print(x)

x.remove('kb')
print(x)

#If the item to remove does not exist, discard() will NOT raise an error.
x.discard('mb')
x.discard('12')
print(x)

{'kb', 'tb', 'gb', 'mb'}
{'k', 'tb', 'm', 'l', 'kb', 'gb', 'mb'}
{'gb', 'l', 'k', 'mb', 'tb', 'kiwi', 'kb', 'orange', 'm'}
{'gb', 'l', 'k', 'mb', 'tb', 'kiwi', 'orange', 'm'}
{'gb', 'l', 'k', 'tb', 'kiwi', 'orange', 'm'}

In [41]:
set1 = {1,2,3,4,5}
x = set1.pop()
print(x) #removed item
print(set1) #the set after removal

set1.clear()
print(set1)

#loop set
b={"hello","world","python"}
for x in b:
    print(x)

1
{2, 3, 4, 5}
set()
hello
world
python

# #joint set

In [45]:
a={'a','b','c','d',2}
b={1,2,3,4}

c=a.union(b)
print(c)

a.update(b)
print(c)

#Both union() and update() will exclude any duplicate items.

{1, 2, 3, 4, 'c', 'b', 'd', 'a'}
{1, 2, 3, 4, 'c', 'b', 'd', 'a'}

In [47]:
a={1,2,3,4,5}
b={3,4,5,6,7,,8,9,0}

a.update(b)
print(b)

SyntaxError: invalid syntax (641425647.py, line 2)

In [5]:
keep ONLY the duplicates
a={"white","blue","yellow","green"}
b={"rose","tulip","green","blue"}
c=a.intersection(b)          
print(c)

a.intersection_update(b) 
print(a)

{'green', 'blue'}
{'green', 'blue'}

In [8]:
a={"white","blue","yellow","green"}
b={"rose","tulip","green","blue"}
a.symmetric_difference_update(b)
print(a)

c=a.symmetric_difference(b)
print(c)

{'white', 'rose', 'tulip', 'yellow'}
{'white', 'blue', 'green', 'yellow'}

In [10]:
#isdisjoint
#The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.
a={1,2,3,4}
b={5,6,7,8}
c=a.isdisjoint(b)
print(c)

a={1,2,3,4}
b={3,4,5,6,7,8}
z=a.isdisjoint(b)
print(z)

True
False

In [14]:
#issubset
#The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.
a={1,2,3}
b={5,4,3,2,1}
c=a.issubset(b)
m=b.issubset(a)

print(c)
print(m)

True
False

In [15]:
#issuperset
a={"m","n","o","p","q"}
b={"m","n"}
c=a.issuperset(b)
print(c)

True

In [18]:
#symmetric diff#Returns a set with the symmetric differences of two sets,except that are present in both set
a={'delhi','mumbai','chennai','phy','chem'}
b={'phy','bio','maths'}
c=a.symmetric_difference(b)
print(c)

#updates the original set by removing items that are present in both sets, and inserting the other items.
a.symmetric_difference_update(b)
print(a)

{'mumbai', 'delhi', 'chennai', 'chem', 'bio', 'maths'}
{'mumbai', 'delhi', 'bio', 'chennai', 'chem', 'maths'}

# DICT

In [9]:
d1={'name':'minhaj','class':'8','rollno':'35'}
print(d1)
print(d1['name'])

# duplicate not allowed
d2={'name':'minhaj','class':'8','rollno':'35','rollno':'40'}
print(d2)
print(len(d2))


d2={'name':'minhaj','class':'8','rollno':'35','rollno':'40'}
x=d2['class']
y=d2.get('class')
y=d2.keys()
print(x)
print(y)

{'name': 'minhaj', 'class': '8', 'rollno': '35'}
minhaj
{'name': 'minhaj', 'class': '8', 'rollno': '40'}
3
8
dict_keys(['name', 'class', 'rollno'])

In [25]:
d2={'name':'minhaj','class':'8','rollno':'35','rollno':'40'}

#add items
x=d2.keys()
print(x)


d2['div']='A'
print(x)

x=d2.values()
print(x)

d2['div']='B'
print(x)


x=d2.items()
print(x)

d2['surname']='shaikh'
print(x)


d2.update({"class": '9'})
print(x)


d2.pop("rollno")
print(x)

d2.popitem()
print(x)

del d2["class"]
print(d2)


#remove item
del d2
print(d2)

d2.clear()
print(d2)

dict_keys(['name', 'class', 'rollno'])
dict_keys(['name', 'class', 'rollno', 'div'])
dict_values(['minhaj', '8', '40', 'A'])
dict_values(['minhaj', '8', '40', 'B'])
dict_items([('name', 'minhaj'), ('class', '8'), ('rollno', '40'), ('div', 'B')])
dict_items([('name', 'minhaj'), ('class', '8'), ('rollno', '40'), ('div', 'B'), ('surname', 'shaikh')])
dict_items([('name', 'minhaj'), ('class', '9'), ('rollno', '40'), ('div', 'B'), ('surname', 'shaikh')])
dict_items([('name', 'minhaj'), ('class', '9'), ('div', 'B'), ('surname', 'shaikh')])
dict_items([('name', 'minhaj'), ('class', '9'), ('div', 'B')])
{'name': 'minhaj', 'div': 'B'}

NameError: name 'd2' is not defined

In [26]:
#copy dict
d1={'name':'minhaj','class':'8','rollno':'35','rollno':'40'}
d2=d1.copy()
print(d2)

{'name': 'minhaj', 'class': '8', 'rollno': '40'}

In [27]:
d1={'name':'minhaj','class':'8','rollno':'35','rollno':'40'}
d2=dict(d1)
print(d2)

{'name': 'minhaj', 'class': '8', 'rollno': '40'}

In [3]:
#nested dict
myfamily={'member1':{'relation':'father','age':'52'},
         'member2':{'relation':'mother','age':'42'},
         'member3':{'relation':'brother','age':'20'}
         }
print(myfamily)

{'member1': {'relation': 'father', 'age': '52'}, 'member2': {'relation': 'mother', 'age': '42'}, 'member3': {'relation': 'brother', 'age': '20'}}

In [5]:
member1={'relation':'father','age':'52'},
member2={'relation':'mother','age':'42'},
member3={'relation':'brother','age':'20'}
myfamily={'member1':member1,
         'member2':member2,
         'member3':member3
         }
print(myfamily)

{'member1': ({'relation': 'father', 'age': '52'},), 'member2': ({'relation': 'mother', 'age': '42'},), 'member3': {'relation': 'brother', 'age': '20'}}

# python if----else

In [6]:
a=100
b=5
if b<a:
    print('b is less than a')

b is less than a

In [8]:
#indentation
a=100
b=5
if b<a:
print('b is less than a')

IndentationError: expected an indented block after 'if' statement on line 3 (317352264.py, line 4)

In [3]:
#elif
#"if the previous conditions were not true, then try this condition".
a=10
b=10
if a<b:
    print('a is nless than a')
elif a==b:
    print('a and b  is equal ')

a and b  is equal

In [6]:
a=100
b=10
if a<b:
    print('a is less than b')
elif a==b:
  print('a and b  is equal ')
else:
  print('a is greater than b')

a is greater than b

In [8]:
a=500
b=200
if b>a:
    print('a is greater than b')
else:
    print('a is not greater than b')

a is not greater than b

In [9]:
#short hand if
a=30
b=3
if a > b: print("a is greater than b")

a is greater than b

In [11]:
#short hand if and else
a=5
b=500
print('A') if b<a else print('B')

B

In [12]:
# AND OR logical operators
#and
a=10
b=20
c=30
if a<b and a<c:
    print("both condition is correct")

both condition is correct

In [13]:
#or
a=10
b=20
c=30
if a<b or a>c:
    print("only one condition is correct")

only one condition is correct

In [23]:
# how to add items in empty dict
x={}
x['year']=2017
print(x)

{'year': 2017}

In [7]:
#Nested if
a=100
if a>20:
    print('above 20')
    if a>40:
        print('more than 40')
    else:
        print('not more than 40')

above 20
more than 40

In [8]:
a=200
b=30
if a<b:
    pass

# string task qns

In [16]:
# 1.To check whether a given string is a palindrome.
str1='M','A','L','Y','A','L','A','M'
print(str1[0:8])
print(str1[-8:8])

('M', 'A', 'L', 'Y', 'A', 'L', 'A', 'M')
('M', 'A', 'L', 'Y', 'A', 'L', 'A', 'M')

In [19]:
# 2'To capitalize the first character in a given sentence.
a='The capital of india is delhi'
x=a.title()
print(x)

The Capital Of India Is Delhi

In [35]:
# 3.Program to convert String to a List.
var="imaginary number value of i square is 1"
x=var.split()
print(x)

['imaginary', 'number', 'value', 'of', 'i', 'square', 'is', '1']

In [65]:
# 4.To sort alphabetically the words in a given sentence.

x = "Hello world in python coding"
words = x.split()
words.sort()
for word in words:
    print(word)

Hello
coding
in
python
world

In [70]:
# 5.To demonstrate any 10 function(method) of string class.

#count method
# returns the number of times a specified value appears in the string.
a="Suraiya is my friend,Suraiya is a mad girl and suraiya is learning coding in mcc"
x=a.count("Suraiya")
print(x)


#case fold
# Converts string into lower case
b="Python Is Very Easy"
x=b.casefold()
print(x)


#endswith
# Check if the string ends with a punctuation sign (.):
c="She is intelligent girl."
x=c.endswith(".")
print(x)

#replace
#replace tht word in string
d="Apple is red"
x=d.replace("Apple","Tomato")
print(x)


#isalpha
# check all character in string is text
e="strings"
x=e.isalpha()
print(x)

#isalnum
# check all character in string is in text and numbers
e="strings32728"
x=e.isalnum()
print(x)


#find
f="operators used to perform on variable and values"
x=f.find("on")
print(x)



#isnumeric
# returns true is all characters is in digit
g='1723942'
x=g.isnumeric()
print(x)

#join 
h=('sky','color','is','skyblue')
x='@'.join(h)
print(x)

#isspace
i="my fruits"
x=i.isspace()
print(x)


#zfill
# Fill the string with zeros until it is 10 characters long:
j="40"
x=j.zfill(10)
print(x)

2
python is very easy
True
Tomato is red
True
True
26
True
sky@color@is@skyblue
False
0000000040

In [48]:
# 7.To demonstrate string slice3rwd
y="Python is high level language"
print(y[0])
print(y[5])
print(len(y))
print(y[0:30])
print(y[0:6:2])
print(y[0:14:3])
print(y[-5:-2])
print(y[::-1])

P
n
29
Python is high level language
Pto
Ph  g
gua
egaugnal level hgih si nohtyP

In [71]:
# 8.TO check substring is Present in a Given String
#  this should be complete by EOD
var1="Python has no command for declaring a variable."
x="command" in var1
print(x)

True

# task list

In [1]:
# 1.To create 5 different list using list comprehension method
flower=['rose','tulip','lotus','mogra','sunflower']
list1=[x for x in flower if 'u' in x]
print(list1)

['tulip', 'lotus', 'sunflower']

In [2]:
list1=[x for x in range(20)]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
list1=[x.upper() for x in flower]
print(list1)

['ROSE', 'TULIP', 'LOTUS', 'MOGRA', 'SUNFLOWER']

In [5]:
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
list1=[x.lower() for x in flower]
print(list1)

['rose', 'tulip', 'lotus', 'mogra', 'sunflower']

In [6]:
list1=[x for x in range(20) if x<10]
print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# 3.To check whether a given number is present in list or not?
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
print('Rose' in flower)

True

In [8]:
# 4.To demonstrate any 10 methods of List
#append
# add item in the end of the list
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower.append('Hibiscus')
print(flower)

['Rose', 'Tulip', 'Lotus', 'Mogra', 'Sunflower', 'Hibiscus']

In [9]:
#clear
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower.clear()
print(flower)

[]

In [10]:
# copy
# copy exact list in another list
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower_1=flower.copy()
print(flower_1)

['Rose', 'Tulip', 'Lotus', 'Mogra', 'Sunflower']

In [11]:
# count
# Returns the number of elements with the specified value
flower=['Rose','Tulip','Lotus','Tulip','Mogra','Sunflower','Tulip']
x=flower.count("Tulip")
print(x)

3

In [13]:
# extend
# Add the elements of a list (or any iterable), to the end of the current list
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
colour=['red','yellow','white','blue']
flower.extend(colour)
print(flower)

['Rose', 'Tulip', 'Lotus', 'Mogra', 'Sunflower', 'red', 'yellow', 'white', 'blue']

In [14]:
# Returns the index of the first element with the specified value
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
x=flower.index('Lotus')
print(x)

2

In [16]:
# insert
# Adds an element at the specified position
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower.insert(3,'Jasmine')
print(flower)

['Rose', 'Tulip', 'Lotus', 'Jasmine', 'Mogra', 'Sunflower']

In [19]:
# pop
# Removes the element at the specified position
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower.pop(1)
print(flower)

flower.pop()
print(flower)

['Rose', 'Lotus', 'Mogra', 'Sunflower']
['Rose', 'Lotus', 'Mogra']

In [20]:
# Removes
# remove the first item with the specified value
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower.remove('Mogra')
print(flower)

['Rose', 'Tulip', 'Lotus', 'Sunflower']

In [21]:
# Reverse
# reverse the order of the list
flower=['Rose','Tulip','Lotus','Mogra','Sunflower']
flower.reverse()
print(flower)

['Sunflower', 'Mogra', 'Lotus', 'Tulip', 'Rose']

In [24]:
# 5.To add two list [ adding elements of list ]
list1=[1,2,3]
list2=[4,5,6]
print(list(zip(list1,list2)))

[(1, 4), (2, 5), (3, 6)]

In [25]:
# 6.To implement a stack using a list

In [49]:
# 2.Create list , add random 10 numbers in list and print largest number of list
a=[3,2,8,5]
print(max(a))

8

In [51]:
x=[3,6,2,9,5,1,7]
x.sort()
print(x)

[1, 2, 3, 5, 6, 7, 9]

# function

In [29]:
def func():
    print('hello world')
func()

hello world

In [33]:
def funcn(sname):
    print(sname , "1" , 'diwuhdoqwnx')
funcn('sharma')
funcn('dubey')

sharma 1 diwuhdoqwnx
dubey 1 diwuhdoqwnx

In [38]:
# Number of Arguments
def func(fname,mname,):
    print(fname+"lname"+mname)
func("a","b")

alnameb

In [40]:
# Arbitrary arguments,*args
# If you do not know how many arguments that will be passed into your function,
# add a * before the parameter name in the function definition.

def func(*fungus):
    print(fungus[1] , "present in moist place ")
func("actinomycytes","basidio","deutro")

basidio present in moist place

In [43]:
# Keyword Arguments
# You can also send arguments with the key = value syntax.
def func(c,a,b):
    print("the name of student is" , a)
func(a="mac",b="sam",c="elfen")

the name of student is mac

In [46]:
# Arbitrary Keyword Arguments, **kwargs
# If the number of keyword arguments is unknown, add a double ** before the parameter name:
def func(**name):
    print('Her name is' , name["sname"])
func(fname="amziya",sname="yashfeen",tname="yusra")

Her name is yashfeen

In [52]:
# default parameter value
def func(city = "mumbai"):
    print("I am from" , city)
func('delhi')
func('pune')
func()

I am from delhi
I am from pune
I am from mumbai

In [53]:
# Passing a List as an Argumen
def func(food):
    for x in food:
        print(x)
fruits=['fruit','mango','cherry']
func(fruits)

fruit
mango
cherry

In [55]:
# return value
def func(x):
    return 19 * x
print(func(6))
print(func(7))
print(func(8))
print(func(9))
print(func(10))

114
133
152
171
190

In [3]:
addition=10+20+\
         30+40+50+\
         50+60+70
print(addition)

330

In [1]:
l=2; b=4
print('Area of rectangle:'; l*b)

SyntaxError: invalid syntax (2979763975.py, line 2)

In [2]:
# statement 1
print('Hello')

# statement 2
x = 20

# statement 3
print(x)

Hello
20

# lambda

In [7]:
# small anonymous funcn,any no of arguments but can only have one expression

x=lambda a : a+10 #add
print(x(5))

x=lambda a,b:a*b  #multiply
print(x(2,3))

x=lambda a,b,c:a+b+c #summarize
print(x(1,2,3))

15
6
6

In [18]:
# function in lambda
def myfunc(n):
    return lambda a:a*n
mydoubler=myfunc(2)
print(mydoubler(11))

22

In [17]:
def square(a):
    return  a*a
result=square(5)
print(result)

25

# chr pattern

In [2]:
n=4
for i in range(n):
    for j in range(i+1):
        print('A',end=" ")
    print()

A
A A
A A A
A A A A

In [3]:
n=5
p=65
for i in range(n):
    for j in range(i+1):
        print(chr(p),end=" ")
    p+=1
    print()

A
B B
C C C
D D D D
E E E E E

In [4]:
n=5
for i in range(n):
    p=65
    for j in range(i,n):
        print(' ',end=" ")
    for j in range(i):
        print(chr(p),end=" ")
        p+=1
    for j in range(i+1):
        print(chr(p),end=" ")
        p+=1
    print()

          A
        A B C
      A B C D E
    A B C D E F G
  A B C D E F G H I

In [6]:
n=5
for i in range(n):
    p=65
    for j in range(i,n):
        print(' ',end=" ")
    for j in range(i):
        print(chr(p),end=" ")
        p+=1
    for j in range(i+1):
        print(chr(p),end=" ")
        p-=1
    print()

          A
        A B A
      A B C B A
    A B C D C B A
  A B C D E D C B A